<% provide(:title, "Order") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Order (edit)</h1>
    <%= form_for @order do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :no, "No." %>
        <%= f.number_field :no, class: "form-control" %>
      </div>
      <%= f.add_nested_fields_link :sales, "Add", class: "btn btn-success", role: "button" %>
      <%= f.submit "Create", class: "btn btn-primary" %>
      <hr>
      <ul class="list-group">
        <%= f.nested_fields_for :sales, wrapper_tag: :li, wrapper_options: { class:
          "list-group-item" } do |sf| %>
          <div class="form-group">
            <%= sf.remove_nested_fields_link "Delete", class: "btn btn-danger", role: "button" %>
          </div>
          <div class="form-group">
            <%= sf.label :product_sid, "Product" %>
            <%= sf.select(:product_sid, options_for_select(@products), {}, class:
              "form-control") %>
          </div>
          <div class="form-group">
            <%= sf.label :amount, "Amount" %>
            <%= sf.number_field :amount, class: "form-control", step: 1, placeholder: "1" %>
          </div>
          <div class="form-group">
            <%= sf.label :sale_price, "Sale price (RM)" %>
            <%= sf.number_field :sale_price, class: "form-control", step: 0.01, placeholder:
              "Custom value (optional)" %>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
