<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
      'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="application-container" class="container">
      <div class="row">
        <div class="col-md-8">
          <%= render 'layouts/breadcrumbs' %>
          <%= yield %>
        </div>
        <div class="col-md-4">
          <%= render 'layouts/flash' %>
        </div>
      </div>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
